<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}
     <!-- main  -->
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my world</p>
                        <h1>Hi I'm Avani! Nice to meet you ;) <span class="textcolor">Lots of love ❤️</span></h1>
                        <a href="https://www.linkedin.com/in/avani-jain-945514226/" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img class=" w-100" src="images/profileshort(i).png" alt="image" class="img-fluid" title="avani">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- footer  -->
     {{>footer}}
</body>
</html>