<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}
     <!-- main  -->
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey there I'm Avani!</p>
                        <h1> I am a student currently pursuing my Bachelor's at IIT ISM Dhanbad. I am passionate about Computer science and am dedicated to achieving academic excellence.<span class="textcolor">Throughout my studies, I have developed a strong foundation in C++ i.e. Competitive Programming and Web Development, and am eager to continue learning and growing in this field. </span></h1>
                        <a href="https://www.linkedin.com/in/avani-jain-945514226/" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img class=" w-100" src="images/profileshort(i).png" alt="image" class="img-fluid" title="avani">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- footer  -->
     {{>footer}}
</body>
</html>